.wrapper {
    width: 1020px;
    margin: 0 auto;   
}

header {
    background-image: url("./assets/images/bcgr-1.png");
    background-size: cover;
    height: 564px;
}

.main-header .wrapper {
    display: flex;
    align-items: flex-end;
}

.logo {
    display: flex;
    width: 300px;
    align-items: center;
    margin-top: 28px;
    font-size: 41px;
    text-transform: uppercase;
    letter-spacing: 0px;
    color: #ffffff;
    font-family: "Lucida Sans", sans-serif;
    font-style: italic;
    text-decoration-line: none;
    text-shadow: 1px 1.732px 0px rgba(0,0,0,0.42);
}

.logo h1 {
    margin: 7px 0 0  4px;
}

.menu {
    display: flex;
    margin-left: auto;
    justify-content: flex-start;
    align-self: flex-end;
    width: 453px;
    height: 41px;
    background-image: linear-gradient(0deg, #f5c505 0%, #f5c505 100%);
}

.menu li {
    display: flex;
    flex-grow: 1;
    align-self: stretch;
    justify-content: center;
    width: auto;
    border-right: 1px solid #9b7d08;
}

.menu li:last-child {
    border: none;
}

.menu li:hover {
        background-image: linear-gradient(0deg, #ffd325 0%, #bb9600 100%);
}

.menu a {
    display: block;
    align-self: center;
    font-size: 1.1rem;
    letter-spacing: 0px;
    color: #9b7d08;
    font-family: "Segoe WP", sans-serif;
    text-align: center;
    text-transform: uppercase;
    text-decoration-line: none;
}

.menu svg {
    margin-left: 5px;
}

.videos {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.arrow {
    display: flex;
    width: 32px;
    height: 57px;
    background-color: #f5c506;
}

.arrow svg {
    margin: auto;
}

.arrow:hover {
    height: 61px;
    background-color: #ddb100;

}

.videos .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 57px 0;
}

.videos video {
    width: auto;
    margin-left: 10px;
}

.video-name {
    text-align: center;
    font-size: 4rem;
    font-family: "Asap", sans-serif;
    color: white;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    margin: -29px 18px 0 0;
}

.video-name span {
    color: rgb(245, 197, 6);
    margin-right: 16px;
}

.diffs {
    background-image: url("./assets/images/bcgr-2.png");
    background-size: cover;
    height: 213px;
}

.diffs .wrapper {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    height: 213px;
}

.icons {
    display: flex;
    width: auto;
    justify-self: flex-end;
    align-self: center;
    flex-direction: column;
    align-items: center;
}

div.icons:first-child {
    width: 341px;
}

div.icons:nth-child(2) {
    width: 337px;
}

div.icons:last-child {
    width: 337px;
}

.icons span {
    margin-top: 10px;
    font-size: 27px;
    letter-spacing: 0px;
    color: #000000;
    font-family: "Segoe UI";
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
}

.slider {
    background-image: url("./assets/images/bcgr-3.png");
    background-size: cover;
    height: 506px;
    display: flex;
    flex-direction: column;
}


.slider h2 {
    font-size: 37px;
    letter-spacing: 0.5px;
    color: #ffffff;
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    padding-top: 40px;
}

.slider .wrapper:nth-child(2) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 35px;

}

.slider-show:first-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ec9e03;
}

.slider-show:first-child p {
    display: block;
    width: 279px;
    font-size: 29px;
    letter-spacing: 0px;
    line-height: 38px;
    color: #ffffff;
    font-family: "Segoe WP", sans-serif;
    font-weight: 300;
 }

.slider-show:first-child svg {
    align-self: flex-end;
    padding-right: 14px;
 }

.slider-show:nth-child(3) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #ec9e03;
}
 
.slider-show:nth-child(3) span {
    align-self: flex-end;
    padding: 8px 20px 0 0;
    font-size: 25px;
    letter-spacing: 0px;
    line-height: 38px;
    color: #ffffff;
    font-family: "Segoe WP", sans-serif;
    font-weight: 300;
}

.slider-show:nth-child(3) svg:last-child {
    align-self: flex-end;
    padding: 0 12px 17px 0;
}

.slider-show:first-child svg:hover, .slider-show:nth-child(3) svg:last-child:hover {
    opacity: 0.5;
 }

.current-date {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 112px;
    height: 86px;
    background: #ddb101;
}

.current-date span:first-child {
    display: block;
    font-size: 51px;
    letter-spacing: 1px;
    line-height: 38px;
    color: #ffffff;
    font-family: "Segoe UI", sans-serif;
    font-weight: bold;
}

.current-date span:last-child {
    display: block;
    font-size: 21px;
    letter-spacing: 0px;
    line-height: 38px;
    color: #b26529;
    font-family: "Segoe UI", sans-serif;
    text-transform: uppercase;
}

.slider .wrapper:last-child {
    display: flex;
    justify-content: center;
}

input[type=range] {
    -webkit-appearance: none; 
    width: 896px; 
    background: transparent;
    margin: 0 0 0px 24px;
}
  
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
}
  
input[type=range]:focus {
    outline: none; 
}
  
input[type=range]::-ms-track {
    cursor: pointer;
    background: transparent; 
    border-color: transparent;
    color: transparent;
}

input[type=range]::-webkit-slider-thumb {
    height: 15px;
    width: 197px;
    border-radius: 10px;
    background: #ec9e03;
    cursor: pointer;
}

input[type=range]:hover::-webkit-slider-thumb {
    background: #b87b03;
}

input[type=range]::-webkit-slider-runnable-track {
    margin: 40px auto auto 0;
    width: 60%;
    height: 15px;
    cursor: pointer;
    background: #ffffff;
    border-radius: 10px;
}
  
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #fadfa9;
}

.media {
    background-image: url("./assets/images/bcgr-4.png");   
    background-size: cover;
    height: 496px;
}

.media .wrapper {
    flex-direction: column;
}

.media h2 {
    padding-top: 47px;
    font-size: 43px;
    font-family: "PTSans", sans-serif;
    color: rgb(245, 197, 6);
    text-transform: uppercase;
    text-align: center;
    font-weight: 400;
    letter-spacing: -3px;
}

.media-items {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 7px;
}

.round {
    position: absolute;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-start;
    border-radius: 50%;
    height: 116px;
    width: 116px;
    background-color: rgb(245, 197, 6);
    font-size: 19px;
    letter-spacing: 1px;
    color: #ffffff;
    font-family: "PT Sans Narrow", sans-serif;
    font-weight: 700;
}

.media-container-big svg {
    margin: 42px 0 0 19px;
}

.media-items svg:nth-child(2) {
    margin: 40px 0px 0 24px;
}

.media-items svg:nth-child(3) {
    margin: 153px 0 0 25px;
}

.text-media {
    width: 352px;
    height: 45px;
    margin: 0 0 78px 100px;
    font-size: 22px;
    letter-spacing: 0px;
    color: #a9a9a7;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    list-style: url("./assets/images/list-marker.png");
}

.text-media li {
    margin-bottom: 26px;}

footer {
    background-color: #4c4c4c;
    width: auto;
}

footer .logo {
    margin-top: 0;  
}

footer .wrapper {
    padding-top: 12px;
}

footer span {
    display: block;
    margin-left: 10px;
    font-size: 29px;
}